body{
    font-family: 'Lato', sans-serif;
    background: white;
}


                                
                                    /* header CSS start */

.header-a{
    background: #E554731A;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 150px;
}

.banner-content{
    max-width: 500px;
}

.banner .banner-image{
    /* width: 500px; */
    max-width: 1140px;
    margin: 0 auto;
}
.btn-primary{
    padding: 20px 43px;
    align-items: flex-start;
    border: 0;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.banner-pera{
    color: #27272799;
    font-size: 18px;
    line-height: 30px;
}


                                /* header CSS END*/

                                /* discount section css start */



.discount{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 30px 0 150px;
    background: #E554730D;
}

.discount-content{
    max-width: 500px;
}

.discount .discount-image{
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.discount-pera{
    color: #27272799;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
}
.discount-title{
    text-align: center;
}
#discount-btn{
    text-align: center;
    margin-top: 50px;

}
.discount-title-color{
    color: #E55473;
}

                                         /* discount section css end */

                                          /* social-media section css start */





.social-media{
    align-items: center;
    display: inline;
}
.social-media-titel{
    text-align: center;
    padding-top: 120px;
    color: #272727;
    text-align: center;
    font-size: 40px;
}
.social-media-pera{
    text-align: center;
    color: #27272799;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    padding-bottom: 30px;
}

.social-media-post{
    display: flex;
    gap: 24px;
    padding-left: 200px;
    padding-bottom: 120px;
}

.social-media-post-size{
    height: 250px;
}


                                              /* social-media section css end */


                                        
                                              /* get-the-deals section css start */




.get-the-deals{
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    width: 950px;
    margin: 0 auto;
}
.contact{
    text-align: center;
}
#deals{
    padding-top: 120px;
}
.contact input[type="email"]{
    margin-bottom: 120px;
    padding: 25px 40px;
    color: #272727;
    border-radius: 8px;
    background: #fff;
    border: 0;
    width: 40%;
    margin-left: 20px;
}
#submit-btn{
    gap: 20px;
}

.deals-border{
    padding-bottom: 125px;
}

                                      /* get-the-deals section css end */


                                       /* footer section css start */


footer{
    background: #111010;
    padding-top: 120px;
    padding-bottom: 120px;
}

.footer-title{
    text-align: center;
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
.footer-title-color{
    color: #FFF;
}

.footer-pera{
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.footer-p{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF66;
}
                                     /* footer section css end */